#includeInContext('Systems.PlayerHead')##
<div style="position:absolute; width:95%; height:2em; top:0"><h1 align="center"><a href="$baseurl$resource_url">$title</a></h1></div>
<div style="position:absolute; width:95%; height:95%; padding:1em; top:2em; center">
		<applet code="geonext.Geonext" width="97%" height="90%" name="main-player" archive="/files/geonext.jar">
			<param name="language" value="de" />
			<param name="geonext" value=$assetDoc.getAttachmentList().get(0).getContentAsString("utf8") />
		</applet>
    <div style="position:absolute; bottom:0; width:95%; height:3em;">
        <table style="width:99%;"><tr><td align="left">
        <a href="$resource_url">i2geo resource</a>
    </td>
    <td align="center"><a href='/xwiki/bin/view/Systems/DisplayJSXGraph?asset=$request.asset&xpage=popup'>Display with JSXGraph</a>
        <br/>
        constructed with   <a href="http://geonext.uni-bayreuth.de/" target="GeoNext">GeoNext</a></td>
    <td align="right">
        <applet width="20" height="20" name="vignette-camera"
                archive="/files/vignettes.jar"
                code="net.i2geo.vignettes.VignetteCamera">
            <param name="otherApplet" value="main-player"/>
            <param name="tooltip" value="$msg.get('vignettes.camera.tooltip')"/>
            <param name="resourceName" value="$assetDoc.name"/>
            <param name="web" value="$assetDoc.web"/>
        </applet>
    </td>
    </tr>
    </table></div>

