#* @vtlvariable name="xwiki" type="com.xpn.xwiki.api.XWiki" *# ##
#* @vtlvariable name="context" type="com.xpn.xwiki.api.Context" *# ##
#* @vtlvariable name="request" type="javax.servlet.http.HttpServletRequest" *# ##
#* @vtlvariable name="response" type="javax.servlet.http.HttpServletResponse" *# ##
#* @vtlvariable name="msg" type="com.xpn.xwiki.web.XWikiMessageTool" *# ##
#* @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset" *# ##
#* @vtlvariable name="doc" type="com.xpn.xwiki.api.Document" *#
#* @vtlvariable name="assetDoc" type="com.xpn.xwiki.api.Document" *#
## @vtlvariable name="asset" type="org.curriki.xwiki.plugin.asset.Asset"
## @vtlvariable name="document" type="com.xpn.xwiki.api.Document"
#* @vtlvariable name="util" type="com.xpn.xwiki.api.Util" *# ##
#* @vtlvariable name="escapetool" type="org.apache.velocity.tools.generic.EscapeTool" *# ##
#includeInContext('Systems.PlayerHead')##
#if($assetDoc)
#set($customDisplayerObject=$assetDoc.getObject("Systems.CustomDisplayerClass"))##
#if($customDisplayerObject)
    $xwiki.renderText($customDisplayerObject.get("displayCode"), $assetDoc)##
#else Missing CustomDisplayerClass object in asset.
#end
#else Missing asset parameter opinting to a valid asset.
#end
