#**
  * Asset Geogebra Displayer in View mode
  *
  *#
#asset_displaycontentheader("text-align:center;")
<div class="asset-display-media">
<div class="asset-display-media-inner">
    #set($caption = "")
    #set($ok = $asset.use("CurrikiCode.AttachmentAssetClass"))
    #set($caption = $!asset.caption_text)	##liefert Title der Ressource
    #set($ok = $asset.use("CurrikiCode.AssetClass"))
    #if($!caption == "")
    #set($caption = $!asset.description)
    #end
<div class="asset-display-download">
 <div class="asset-display-download-inner">
<table border=0 width=80%  cellspacing="20" cellpadding="20"><tr>
	<tr><td align="left">
		 <img width="64px" height="64px"src="/files/tracenpoche_ico.gif" >
	</td>
	<td align="middle">

## -------------------------------
	
	#if($asset.getAttachmentList().size()==1)
	#set($msgtext = $msg.get("rve.content.view.download.instruction_title.single_file"))
	#elseif($asset.getAttachmentList().size()>1)
	#set($msgtext = $msg.get("rve.content.view.download.instruction_title.multiple_files"))
	#end
	#if($msgtext)
	<p><strong>$msgtext</strong>
	    <img ext:qtip="$msg.get("rve.content.view.download.instruction_tooltip")" class="tooltip" src="$xwiki.getSkinFile("images/px.gif")" alt="" border="0" height="16" width="16">
	</p>
	#end      
	#foreach($attachment in $asset.getAttachmentList())
	#set($assetAttachmentFilename = $asset.attachmentList.get(0).filename)
	#set($assetAttachmentURL = $asset.getAttachmentURL("$assetAttachmentFilename"))
	
	      #if($attachment.filesize)
	     #set($filesize = $attachment.filesize / 1024)
	     ##set($filesize = $attachment.filesize)
	     #else
	     #set($filesize = 0)
	     #end
		<blockquote>
	     <a href="$assetAttachmentURL">$assetAttachmentFilename</a> (${filesize}kb)
		</blockquote> 
	 
	 <button class="button-link button-link-download" ext:qtip="$msg.get("rve.content.view.download.download_button")" onclick="Curriki.logView('/Download/attachment/${asset.space}/${asset.name}/${assetAttachmentFilename}'); location = '${assetAttachmentURL}?force%2Ddownload=1'; return false;">$msg.get("rve.content.view.download.download_button")</button>
	#end
	</td>
<td align="middle">

## -------------------------------
	
	#set($msgtext1 = $msg.get("rve.content.playConstruction.instruction_title.single_file"))
	#if($msgtext1)
	<p><strong>$msgtext1</strong>
	    	</p>
	#end      
	
		<blockquote>
	     <a href="$assetAttachmentURL">$msg.get("rve.content.playTEP.description.instruction_title.single_file") </a>
		</blockquote> 
	 
	 <button class="button-link button-link-download" 
	  onclick="window.open('http://draft.i2geo.net/xwiki/bin/view/Systems/DisplayTracenPoche?asset=${asset}&amp;xpage=popup','','width=800,height=600,resizable=1'); return false;"">$msg.get("rve.content.play")</button>
	
	</td></tr>	
</table>
</div></div>
</div></div>
<div class="asset-display-download"><div class="asset-display-download-inner"><!-- vignette -->
    #addVignetteUploaderButtonIfAllowed($asset)
   #assetVignetteIfPresent($asset)</div></div>
#asset_displaycontentfooter()
