This French software specializes in an Artificial Intelligence approach of Interactive Geometry. It is a complete DGS that runs only on windows for the time being. See the [homepage > http://geometrix.free.fr/] of the project.